
 body {
  background-color: #668686;
}

.card {
  background-color: #97bbbb;
  transition: 0.4s ease-in-out;
  border: none;
}

.card-wrapper:hover {
  transform: translateY(-5px);
  box-shadow: 
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 40px rgba(255, 255, 255, 0.4),
    0 15px 35px rgba(0, 0, 0, 0.5);
}
